<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>VeloGenius Uploader</string>
  <key>CFBundleDisplayName</key>
  <string>VeloGenius Uploader</string>
  <key>CFBundleIdentifier</key>
  <string>ai.velogenius.uploader</string>
  <key>CFBundleVersion</key>
  <string>__VERSION__</string>
  <key>CFBundleShortVersionString</key>
  <string>1.__VERSION__</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleExecutable</key>
  <string>launcher</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
  <key>NSHumanReadableCopyright</key>
  <string>VeloGenius</string>
</dict>
</plist>
